<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="animate-charcter">Guraevskiy</h1>
    </div>
  </div>
</div>

<h2 class="text-xl text-center">
  Данная работа сделана как тестовое знакомство с Angular и умение работать с
  неизвестным фреймворком.
</h2>

<br />

<p class="text-center">В работе были использованы такие вещи как:</p>
<ul class="text-center">
  <li>Component</li>
  <li>Module</li>
  <li>Directive</li>
  <li>Service</li>
  <li>RxJs</li>
  <li>Tailwind</li>
  <li>Angular Routing</li>
  <li>SCSS</li>
</ul>
